# ========================
# Build directories (CMake)
# ========================

build/
out/
bin/
*/build/
*/out/
*/bin/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
_deps/

# ========================
# Visual Studio
# ========================

.vs/
*/.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# ========================
# Compiled files
# ========================

*.obj
*.o
*.exe
*.dll
*.lib
*.pdb
*.ilk